* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Verdana;
    color: white;
}

.container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}